<app-header title="Esqueci a senha" returnTo="/login"></app-header>
<div class="public-container" fxLayout="column" fxLayoutAlign="center">
  <form fxLayout="column" novalidate autocomplete="off" #fpwFormDirective="ngForm" (ngSubmit)="fpw()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required>
      <mat-hint>Você vai receber nesse email uma forma de recuperar a senha.</mat-hint>
    </mat-form-field>
    <button style="margin-top: 1rem;" mat-raised-button color="primary" [disabled]="!fpwFormDirective.valid">Recuperar Senha</button>
  </form>
</div>