<div fxLayout="row" class="menu-bar" fxLayoutGap="1px">
  <div fxFlex routerLink="balance" routerLinkActive="active">
    <span class="material-icons-outlined">monetization_on</span>
    <span class="inner-text">Saldo</span>
  </div>
  <div fxFlex routerLink="setback" routerLinkActive="active">
    <span class="material-icons-outlined">sick</span>
    <span class="inner-text">Imprevisto</span>
  </div>
  <div fxFlex routerLink="job-register" routerLinkActive="active">
    <span class="material-icons-outlined">add</span>
    <span class="inner-text">Trampo</span>
  </div>
  <!-- <div fxFlex routerLink="profile" routerLinkActive="active">
    <span class="material-icons-outlined">person_outline</span>
    <span class="inner-text">Perfil</span>
  </div> -->
</div>