// https://coolors.co/152128-262d31-cccccc-e4e4e4-3e432e-616f39-a7d129-ff5c77

$background: #152128;//#090E11;
$background-info: #262D31;
$grey: #ccc;
$offwhite: #e4e4e4;
$text-1: #3E432E;
$text-2: #616F39;
$text-important: #A7D129;
$text-danger: #FF5C77;
$shadow: rgba(0, 0, 0, .6);